<div class="container">
     <div class="todays-tasks">
      <% if @todays_tasks.length > 0 %>
        <h3 class="todays-title">Today's to-do list</h3>
        <div>
          <% @todays_tasks.each do |task| %> 
            <div class="task-today">
              <li id="task-item">
                <%= link_to task.name.capitalize, edit_room_task_path(task.room_id, task) %>
              </li>
              <%= render './tasks/update', task: task %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>Woo hoo come back tmr!</p>
      <% end %>
    </div>
    <div class="menu">
        <%= link_to 'Go to my Dashboard', rooms_path %>
    </div>
</div>