<%= image_tag("kitchen", class:"bg-image") %>

<div class="container landing">
     <h1 class="landing-title">Schedule and Record your Chores now on Spotless</h1>
     <%= image_tag("screenshot", class:"desc-image") %>
     <%= link_to "Start now", new_user_session_path, class:"btn" %>
</div>