//= require recurring_select

$primary: #8CC6BA;

@import "bootstrap";
@import "simple_calendar";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body {
    color: black;
    font-family: 'Playfair Display', serif;
}
.nav-item {
    color: white;
}
.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 800px;
}

  a:link {
    color: $primary;
  }
  
  /* visited link */
  a:visited {
    color: $primary;
  }
  
  /* mouse over link */
  a:hover {
    color: $primary;
  }
  
  /* selected link */
  a:active {
    color: $primary;
  }

.navbar {
    background-color: $primary;
    a {
        color: white;
    }
}


#new_room {
    padding-bottom: 30px;
}

.center {
    margin: 16px auto;
    max-width: 50%;
}
.cards.rooms {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;       
    grid-gap: 1rem;
}

.card.room {
    background-color: white;
    border-color: $primary;
    border-radius: 8px;
    text-align: center;
}

.card.task {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  margin: 16px 0;
  padding: 24px;
}
//Calendar
.simple-calendar {
    margin-top: 16px;
}
.simple-calendar .today {
    background-color: $primary;
}

.todays-tasks {
    min-height: 500px;
}
.todays-title {
    margin-top: 16px;
    margin-bottom: 16px;
}

.task-today {
    margin-top: 16px;
    display:flex;
    justify-content: space-around;
    width: 30%;
    font-size: 24px;
    list-style: none;
}
.menu {
    margin: 0 auto;
    font-size: 24px;
}

// landing.html
.landing {
    text-align: center;
}
.bg-image {
    width: 100%;
    max-height: 500px;
}
@media only screen and (max-width: 600px) {
    .desc-image {
      margin: 12px auto;
      width: 60%;
    }
    .landing-title {
        text-align: center;
    }

  }

.btn {
    text-align: center;
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: $primary;
    color: white;
    width: 100%;
}
  

